{% extends "base.html" %}
{% block content %}
  <div class="row-fluid">
    <div class="span9">
      <h3>Shorten Some Urls</h3>
      <p>This is a url shortener service. Enter a url in the text box below
        to create a shorter version of that url.</p>
      {{create-form|safe}}

      <h3>Recently Shortened Urls</h3>
      <ul>
      {% for url in urls %}
        <li>{{url.diff}}{{url.url}} --> <a href="/{{url.short_url}}">http://all2.us/{{url.short_url}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
